<!-- This page is the entry point to the the Decap CMS admin dashboard.--><!-- It should not be modified. -->
<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="robots" content="noindex" />
		<link href="/admin/config.yml" type="text/yaml" rel="cms-config-url" />
		<title>LEDPac - CMS Dashboard</title>
	</head>
	<body>
		<!-- Decap CMS script -->
		<script is:inline src="https://unpkg.com/decap-cms@^3.1.2/dist/decap-cms.js"></script>
		<!-- Cloudinary Media Library Widget script -->
		<script is:inline src="https://media-library.cloudinary.com/global/all.js" type="text/javascript"></script>
		<script is:inline src="https://upload-widget.cloudinary.com/latest/global/all.js" type="text/javascript"></script>
		<!-- Custom styles for CMS -->
		<link rel="stylesheet" href="hithismani-responsive.css" />
	<!--	<link rel="stylesheet" href="searls-responsive.css" /> -->
	</body>
</html>
