---
---
<div
  class="prose dark:prose-invert
  prose-h1:text-4xl prose-h1:md:text-5xl prose-h1:font-heading prose-h1:font-medium prose-h1:text-darkgray-primary
  prose-h2:text-3xl prose-h2:font-semibold prose-h2:font-heading prose-h2:mb-6 prose-h2:uppercase prose-h2:text-darkgray-primary
  prose-h3:text-2xl prose-h3:font-semibold prose-h3:font-heading prose-h3:mb-6 prose-h3:uppercase prose-h3:text-darkgray-primary
  prose-h4:text-xl prose-h4:text-darkgray-primary prose-h4:font-medium prose-h4:font-heading prose-h4:uppercase prose-h4:mb-4
  prose-h5:text-lg prose-h5:text-darkgray-primary prose-h5:font-heading prose-h5:mb-2
  prose-h6:text-md prose-h6:text-darkgray-primary prose-h6:font-heading prose-h6:mb-2
  prose-p:leading-8 prose-p:text-darkgray-primary prose-p:font-light prose-p:text-left
  prose-a:underline prose-a:text-darkgray-primary hover:prose-a:no-underline hover:prose-a:text-red-700 prose-a:font-semibold prose-a:font-heading prose-a:transition-colors prose-a:hover:underline prose-a:hover:text-red-700
  prose-img:rounded-md prose-img:mb-4 prose-img:w-full prose-img:h-auto
  prose-hr:pb-4 prose-hr:border-t-[1px] prose-hr:border-gray-300
  prose-ul:font-light prose-ul:pl-5 prose-ul:list-disc prose-ul:text-darkgray-primary prose-ul:space-y-1
  prose-li:pr-0 prose-li:pl-2 prose-li:font-light prose-li:leading-8 prose-li:text-left prose:w-full
  w-full max-w-full 
  ">
  <slot />
</div>
