---

---

<form
  name="contact"
  method="POST"
  data-netlify="true"
  netlify-honeypot="bot-field"
  data-netlify-recaptcha="true"
  class="mx-auto max-w-3xl"
>
  <input type="hidden" name="form-name" value="contact" />
  <p class="hidden">
    <label>
      Don't fill this out if you're human:
      <input name="bot-field" />
    </label>
  </p>
  <div class="mb-6">
    <label class="block mb-2" for="name"> Name </label>
    <input
      class="block rounded-md w-full px-4 py-2 bg-gray-100 placeholder-gray-500 border outline-none focus:ring-2 focus:ring-red-300"
      type="text"
      name="name"
      placeholder="Your name"
      id="name"
      required
    />
  </div>
  <div class="mb-6">
    <label class="block mb-2" for="email"> Email </label>
    <input
      class="block rounded-md w-full px-4 py-2 bg-gray-100 placeholder-gray-500 border outline-none focus:ring-2 focus:ring-red-300"
      type="email"
      name="email"
      placeholder="Your email"
      id="email"
      required
    />
  </div>
  <div class="mb-6">
    <label class="block mb-2" for="phone">
      Phone
      <span class="text-sm text-gray-500">(Optional)</span>
    </label>
    <input
      class="block w-full rounded-md px-4 py-2 bg-gray-100 placeholder-gray-500 border outline-none focus:ring-2 focus:ring-red-300"
      type="tel"
      name="phone"
      placeholder="Your phone number"
      id="phone"
    />
  </div>
  <div class="mb-6">
    <label class="block mb-2" for="message"> Message </label>
    <textarea
      class="block rounded-md w-full px-4 py-2 bg-gray-100 placeholder-gray-500 border outline-none focus:ring-2 focus:ring-red-300"
      name="message"
      rows="5"
      placeholder="Write your message..."
      id="message"
      required></textarea>
  </div>
  <div class="mt-8">
    <button
      class="inline-block w-full md:w-auto py-3 px-8 text-center text-black font-bold bg-transparent border rounded-md hover:border-green-600 transition duration-300"
      type="submit"
    >
      SUBMIT
    </button>
  </div>
</form>
